<!DOCTYPE html>
<html lang="en" ng-app="vtoureApp">
    <head>
        <meta charset="utf-8">
        <title>Vtoure</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="shortcut icon" href="photoshop/icon2.png" type="image/x-icon">    
    </head>

    <body class="body" ng-controller="vtoureCtrl" id="vtoureApp">
    <div class="wrapper">
        <div style="background-image: url(photoshop/logo.png); width: 600px; height: 70px;">
            <div class="topprofile animate-show" ng-hide="person.first_name === undefined" ng-cloak>
                <img src="" ng-src="{{person.photo_50}}" class="img-rounded  pull-left" style="margin-right: 10px">
                <small class="namebox">Добропожаловать, <i>{{ person.first_name +  " " + person.last_name }}</i></small>
                <br/><small class="namebox" ng-hide="artists.length == 0" ng-cloak>Число исполнителей: <b>{{ artists.length }}</b></small>
            </div>
        </div>
        
        
            <img class="mapborder" src="http://maps.googleapis.com/maps/api/staticmap?center={{location.lat}},{{location.lon}}&zoom=10&size=598x180&maptype=roadmap&sensor=false&style=hue:0x007fff|saturation:-56&markers=icon:http://cdima.github.io/vtoure/photoshop/icon_1832_20px.png%7C{{location.lat}},{{location.lon}}"  ng-cloak />

        <div class="container-fluid paddingtop">
            <div class="row">
                <div class="col-md-12">
                    <!--<div class="well well-sm  clearfix" ng-cloak>
                        <div id="vk_auth"></div>
                    </div>-->
                    <div class="well well-sm  clearfix" id="permissionsAlert" ng-show="!window.permissionsGranted"  ng-cloak>
                        <div class="text-default">Приложению нужен доступ к аудио записям. <button id="audiopermissions" class="btn btn-primary btn-xs">разрешить доступ к аудио</button></div>
                    </div>
                    
                    <!--
                        <p class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default" ng-class="{active: !filterByArtists}">Все концерты</button>
                            <button type="button" class="btn btn-default" ng-class="{active: filterByArtists}">Мои исполнители ({{artists.length}})</button>
                        </p>    

                        <p>
                            <span class="small">Искать исполнителя: </span>
                            <input type="text" class="form-control input-sm inputtown" placeholder="The Glitch Mob" ng-model="artistFilterName" />
                            <button type="submit" class="btn btn-default btn-sm inputtown" ng-click="onFilterArtist()"><span class="glyphicon glyphicon-map-marker"></span> Искать</button>
                        </p>-->
                                        
                    <div class="">
                        <div class="">
                            
                        </div>
                        <div class="">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="artistSearch" style="font-weight: normal"><small>Искать конкретного исполнителя: </small></label>
                                    <form class="rounded-search has-feedback" ng-keydown="artistFilterValid = true"  ng-class="{'has-error': (!artistFilterValid && artistFilter != '')}">
                                        <input id="artistSearch" type="text" 
                                               class="form-control input-sm longinput" 
                                               placeholder="Исполнитель" 
                                               ng-model="artistFilter" 
                                            /><button type="submit" class="btn btn-primary btn-sm" ng-click="filterByArtist(artistFilter)">Искать</button>
                                            <!--
                                            typeahead="artist.displayName for artist in artists |  filter:$viewValue  | limitTo:8" 
                                            typeahead-editable="true" 
                                            typeahead="location.name for location in locations | limitTo:8" 
                                            -->
                                        <span class="glyphicon glyphicon-music"></span>
                                    </form>
                                    <div class="small" style="color:#ccc;padding-top: 6px; padding-left: 6px;">Например <i>The Glitch Mob</i></div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="inputLocation" style="font-weight: normal"><small>Искать в другом городе: </small></label>
                                    <form class="input-location rounded-search has-feedback" ng-class="{'has-error': !locationNameValid}">
                                        <input id="inputLocation" type="text" class="form-control input-sm longinput" 
                                               placeholder="Нью Йорк" 
                                               ng-model="locationName" /><button type="submit" class="btn btn-primary btn-sm inputtown" ng-click="onChangeLocation()">Искать</button>
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                    </form>
                                    <!-- locations -->
                                    <div class=" form-group clearfix" style="padding-top: 6px; padding-left: 6px;">
                                        <span class="small" > 
                                            <a href="" 
                                               ng-repeat="loc in locations"
                                               class="location-name"
                                               ng-click="changeLocation(loc.name)">
                                                <span class="glyphicon glyphicon-map-marker"></span> 
                                                {{loc.name}} 
                                            </a>
                                            <br/>
                                        </span>
                                    </div> 
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xs-12">
                                                
                                    <div class="progress progress-striped active clearfix" 
                                         id="artistsProgressbar" 
                                         ng-hide="(progressCount == 0 || progressCount >= artists.length)" ng-cloak>
                                        <div class="progress-bar"  
                                             role="progressbar" 
                                             aria-valuenow="{{progressCount}}" 
                                             aria-valuemin="0" 
                                             aria-valuemax="{{artists.length}}" 
                                             style="width: {{(100 * progressCount / artists.length)}}%">
                                            {{progressCount}} / {{artists.length}}
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class=""  id="artists-ng" ng-hide="(artists.length == 0)" ng-cloak>
                                        <div style="margin-bottom: 6px"><small>Исполнителей с концертами {{artistsInTourCount}}</small> из {{artists.length}}.</div>
                                        <div>
                                            <span ng-repeat="artist in artists" ng-hide="(artist.events.length == 0)" >
                                                <a class="btn btn-default btn-xs" ng-click="filterByArtist(artist.displayName)"
                                                   ng-class="{'btn-primary': (artist.queriedEvents && artist.events.length > 0), 'btn-default': (artist.queriedEvents && artist.events.length == 0), 'btn-info': (!artist.queriedEvents)}"
                                                   style="margin-bottom: 6px;">
                                                    {{artist.displayName}} <!-- <span ng-hide="artist.events.length == 0">{{artist.events.length}}</span> -->
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <br/>
                                    <p>Найдене концертов в городе {{location.name}}: <b>{{events.length}}</b></p>
                                    <div class="media" ng-repeat="event in events| filter: location.metroId | filter: artistFilter |orderBy:'start.datetime'"  ng-cloak>
                                        <a class="pull-left" href="{{event.uri}}" target="_blank" onclick="trackOutboundLink(this.href);">
                                            <div style="background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+); width: 64px; height: 64px;margin-right: 10px; max-height: 64px; max-width:64px;" class="img-rounded" >
                                                <div back-img="https://ssl.sk-static.com/images/media/profile_images/venues/{{event.venue.id}}/col1" style="width: 64px; height: 64px;margin-right: 10px; max-height: 64px; max-width:64px;"  class="img-rounded">
                                                    <div back-img="https://ssl.sk-static.com/images/media/profile_images/artists/{{event.performance[0].artist.id}}/col1" style="width: 64px; height: 64px;margin-right: 10px; max-height: 64px; max-width:64px;" class="img-rounded media-object"> 
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{event.displayName}}</h4>
                                            <a href="{{event.uri}}&appsrc=vteme" onclick="trackOutboundLink(this.href);" target="_blank"><b>{{event.start.date | date:'MMM d, y'}}{{event.start.datetime | date:', h a'}}</b></a> @ 
                                            <a href="{{event.venue.uri}}&appsrc=vteme" onclick="trackOutboundLink(this.href);" target="_blank">{{event.venue.displayName}}</a>, {{event.location.city}}
                                            <p style="margin-top: 3px;">
                                                <span ng-repeat="artist in event.performance | orderBy: 'interesting'">
                                                    <a class="btn btn-default btn-xs" ng-click="filterByArtist(artist.displayName)" style="margin-bottom: 6px;"
                                                        ng-class="{'btn-primary': artist.interesting }"
                                                        >
                                                        {{artist.displayName}} 
                                                    </a>
                                                </span>
                                            </p>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default hidden" ng-cloak>
                        <div id="preview" class="panel-body small pre-scrollable"></div>
                    </div>
                    
                    <br />
                    
                    <div class="panel panel-default"  ng-cloak>
                        <div class="panel-heading">О приложении</div>
                        <div class="panel-body small">
                            <h3>Втеме - поиск концертов по аудиозаписям</h3>
                            <p>
                                Приложение позволяет найти концерты в любом городе мира по вашим аудизаписям и по имени группы. 
                                Не пропускайте концерты своих любимых групп. Поиск лучше работает в США и по американским группам.
                            </p>
                            <h3>О разработчике</h3>
                            <p>
                                Меня зовут <a href="http://sadakov.com" target="_blank">Дмитрий Садаков</a> и я живу в <a href="" ng-click="changeLocation('Нью Йорк');" >
                                                                         <span class="glyphicon glyphicon-map-marker"></span>Нью Йорке.
                                                                     </a><br/>
                                Приложение сделал для себя, распространяю бесплатно.<br/><br/>
                            </p>
                            <h3>Лицензии</h3>
                            <p>
                                Иконки редоставлены <a href="http://thenounproject.com/" target="_blank">the noun project</a>. <a href="http://thenounproject.com/term/crowd-surfing/19432/" target="_blank">Crowd-Surfing designed by Hum</a><br/>
                                <img alt="songkick" src="https://cdima.github.io/vtoure/photoshop/sk.png" />
                            </p>
                            <h3>Вопросы</h3>
                            <p>
                                Связаться с разработчиком можно в <a href="http://vk.com/sadakov" target="_blank">vk</a> и 
                                <a href="http://twitter.com/cdima" target="_blank">в твиттере</a>, остальные контакты на 
                                <a href="http://sadakov.com" target="_blank">sadakov.com</a>. 
                                Купить кофе мне можно <a href="mailto:sadakov@gmail.com?subject=$2.99&cc=cash@square.com">по почте</a>.
                                <br/><br/>
                                <a href=""  ng-click="clearCache()"  >Clear cache</a>
                            </p>
                        </div>
                    </div>
                    <div class="panel panel-default hidden">
                        <div class="panel-heading">Debug log</div>
                        <div class="panel-body">
                            <small>Приложение находится в стадии разработки, ниже отладочная информация.</small>
                            <div id="log" class="panel-body small pre-scrollable"></div>
                        </div>
                    </div>
                    
                    <p class="text-center small">
                        Made in NYC, &copy; 2014 <a href="http://sadakov.com" target="_blank">Dmitry Sadakov</a>
                        <img class="emoji" alt="👾" src="//vk.com/images/emoji/D83DDC7E.png">
                        <img class="emoji" alt="🍺" src="//vk.com/images/emoji/D83CDF7A.png">
                        <img class="emoji" alt="🇷" src="//vk.com/images/emoji/D83CDDF7D83CDDFA.png">
                        <img class="emoji" alt="🇺" src="//vk.com/images/emoji/D83CDDFAD83CDDF8.png"><br/><br/>
                    </p>
                </div>
            </div>
        </div> <!-- container -->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.min.js"></script>
        <script src="resources/angular/angularLocalStorage.js" type="text/javascript"></script>
        <script src="resources/bootstrap/js/bootstrap.min.js"></script>
        <script src="resources/uibootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
         <!-- <script src="//vk.com/js/api/openapi.js?112" type="text/javascript"></script>for external auth -->
         <script src="//vk.com/js/api/xd_connection.js?2" type="text/javascript"></script> <!-- for iframed app -->
        <script src="javascript/global.js" type="text/javascript"></script>
        <script src="javascript/songkick.js" type="text/javascript"></script>
        <script src="javascript/vtoure.js" type="text/javascript"></script>
        <script src="javascript/directives.js" type="text/javascript"></script>
        <script src="javascript/controllers/geocode.js" type="text/javascript"></script>
        <script src="javascript/controllers/songkick.js" type="text/javascript"></script>
        <script src="javascript/controllers.js" type="text/javascript"></script>
        
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        
        <!-- google analytics -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-49615490-1', 'cdima.github.io');
            ga('send', 'pageview');
        </script>
        <!-- double click -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-49615490-1']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter24510557 = new Ya.Metrika({ id: 24510557, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true, trackHash: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/24510557" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        </div>
    </body>
</html>