<!DOCTYPE html>
<html lang="en" ng-app="vtoureApp">
    <head>
        <meta charset="utf-8">
        <title>Vtoure</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    </head>

    <body ng-controller="vtoureCtrl" id="vtoureApp"> 
        <div class="container-fluid" id="vkframe">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Втуре - поиск концертов</h2>
                    </div>
                    
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default" id="personGreeting">
                      <div class="panel-body">
                          <img id="userimg" src="" class="img-rounded  pull-left" style="margin-right: 10px">
                          Добропожаловать, <i id="personname">аноним</i>.<br/>
                          <small>Обнаружено <b id="audionum">...</b> звукозаписей.</small>
                          <small>Поиск концертов в <b id="city">НЬю Йорке, США</b>.</small> 
                      </div>
                    </div>

                    <div class="well well-sm" id="permissionsAlert">
                        <div class="text-muted">Приложению нужен доступ к аудио записям. <button id="audiopermissions" class="btn btn-primary btn-xs">разрешить доступ к аудио</button></div>
                    </div>
                    
                    <div class="well well-sm" id="artists-ng">
                        <h5>Популярные авторы (всего {{artists.length}})</h5>
                        <span ng-repeat="artist in artists|orderBy:'-events.length'|limitTo:30">
                            <span class="label" ng-class="{'label-primary': artist.events.length > 0, 'label-default': artist.events.length == 0 }">
                                {{artist.displayName}} <span ng-hide="artist.events.length == 0">{{artist.events.length}}</span>
                            </span>
                            &nbsp; <!-- space formatting -->
                        </span>
                    </div>
                    
                    <div class="progress progress-striped active" 
                         id="artistsProgressbar" 
                         ng-hide="(progressCount == 0 || progressCount == artists.length)">
                        <div class="progress-bar"  
                             role="progressbar" 
                             aria-valuenow="{{progressCount}}" 
                             aria-valuemin="0" 
                             aria-valuemax="{{artists.length}}" 
                             style="width: {{(100 * progressCount / artists.length)}}%">
                            {{progressCount}} / {{artists.length}}
                        </div>
                    </div>
                    
                    <div>
                        <h5>Найдено концертов: <b>{{events.length}}</b></h5>
                        <div class="well well-sm" ng-repeat="event in events|orderBy:'start.date'">
                            <img id="concertimg"  ng-src="https://ssl.sk-static.com/images/media/profile_images/venues/{{event.venue.id}}/col1" class="img-rounded  pull-left" style="margin-right: 10px">
                            <b id="groupname">{{event.foundByArtist.displayName}}</b> выступают 
                            <b>{{event.start.date | date:'MMM d, y'}} {{event.start.time | date:' h:mm:ss a'}}</b> на 
                            <a href="{{event.uri}}">{{event.displayName}}</a> @ 
                            <a href="{{event.venue.uri}}">{{event.venue.displayName}}</a> {{event.location.city}}
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div id="log" class="panel-body small pre-scrollable"></div>
                    </div>
                </div>
            </div>
        </div> <!-- container -->
  
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
        <script src="javascript/songkick.js" type="text/javascript"></script>
        <script src="javascript/vtoure.js" type="text/javascript"></script>
        <script src="javascript/controllers.js" type="text/javascript"></script>
    </body>
</html>