.body {
    margin: 0 auto;
    width: 600px;
    border: 0px solid #ccc;
    background: #ccc;
}
h4 a {
    color: black;
}
.wrapper {
    background: white;
}
.media, .media-body {
    overflow:visible; 
}
.emoji {
    width: 16px;
    height: 16px;
    margin: 0px 0px;
    border: none;
    vertical-align: top;
}

.longinput {
     display: inline; 
     width: 190px;
}
.has-feedback .form-control {
     padding-right: 10px !important;
 }
.location-name {
    white-space: nowrap;
    float: left;
    padding-right: 7px;
}
.input-location {
    /*margin-top: -33px;
    margin-left: 370px;*/
}
.borderless input {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    height: 20px;
    padding: 0 1px;
    width: 80px;
    margin-right: 5px;
}
.rounded {
    border-radius: 20px;
}
.rounded-select input {
    border-radius: 20px;
    padding-left: 24px;
    border-color:#357ebd; 
}
.rounded-select span {
    position: absolute;
    left: 8px;
    top: 8px;
    color: #357ebd;
}
.rounded-search span {
    position: absolute;
    left: 6px;
    top: 7px;
    color: #357ebd;
}
.rounded-search input
{
    border-right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    padding-left: 24px;
    border-color:#357ebd; 
}

.rounded-search button
{
    border-left: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 00px;
}

.mapborder
{
    border: 1px solid #B9C2CE;
    border-top: 0;
}

.namebox {
    max-width: 300px;
    overflow: hidden;
    max-height: 20px;
}

.paddingtop {
    padding-top: 10px;
    border: 1px solid #ccc;
    border-top: 0;
}

.topprofile
{
    color: white;
    padding-right: 15px;
    padding-top: 10px;
    max-width: 600px;
    text-align: left;
    float: right;
    /* max-width: 100px; */
    overflow: hidden;
    padding-left: 250px;
}

/* starting animations */
.ng-enter {
  -webkit-transition: .8s;
  transition: .8s;
  
    opacity:0;
    -webkit-transform-origin: top left;
}

/* destination animations */
.ng-enter-active {
    opacity:1;
}

.highlight.ng-enter {
    background: yellow;
    -webkit-transform: rotateX(90deg);
}
.highlight.ng-enter-active {
    background: white;
    -webkit-transform: rotateX(0deg);
}


/* starting animations */
.ng-leave {
  
  
}

/* destination animations */
.ng-leave-active {
  
}

/* starting animations */
.ng-hide-add{
    -webkit-transition: .5s;
    transition: .5s;
  
    opacity:1; /* visible */
    
    height: auto;
    overflow: hidden;
}
/* destination animations */
.ng-hide-add-active	 {
   opacity:0; /* transparent */
   
   height: 0;
}


/*.ng-hide-remove{
    -webkit-transition: 1s;
    transition: 1s;
  
    opacity:0;
}
.ng-hide-remove-active {
   opacity:1;
}*/
