.body {
    margin: 0 auto;
    width: 600px;
    border: 0px solid #ccc;
    background: #ccc;
}
.wrapper {
    background: white;
}

.emoji {
width: 16px;
height: 16px;
margin: 0px 0px;
border: none;
vertical-align: top;
}

.inputtown {
     display: inline; 
     width: auto;
}
.has-feedback .form-control {
     padding-right: 10px !important;
 }
.input-location {
    /*margin-top: -33px;
    margin-left: 370px;*/
}
.rounded {
    border-radius: 20px;
}
.rounded-search span {
    position: absolute;
    left: 6px;
    top: 7px;
    color: #357ebd;
}
.rounded-search input
{
    border-right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    padding-left: 24px;
    border-color:#357ebd; 
}

.rounded-search button
{
    border-left: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 00px;
}

.mapborder
{
    border: 1px solid #B9C2CE;
    border-top: 0;
}

.namebox {
    max-width: 300px;
    overflow: hidden;
    max-height: 20px;
}

.paddingtop {
    padding-top: 10px;
}

.topprofile
{
    color: white;
    padding-right: 15px;
    padding-top: 10px;
    max-width: 600px;
    text-align: left;
    float: right;
    /* max-width: 100px; */
    overflow: hidden;
    padding-left: 250px;
}

/* starting animations */
.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  
    opacity:0;
}

/* destination animations */
.ng-enter-active {
    opacity:1;
}

/* starting animations */
.ng-leave {
  
  
}

/* destination animations */
.ng-leave-active {
  
}

/* starting animations */
.ng-hide-add{
    -webkit-transition: 1s;
    transition: 1s;
  
    opacity:1; /* visible */
}
/* destination animations */
.ng-hide-add-active	 {
   opacity:0; /* transparent */
}


.ng-hide-remove{
    -webkit-transition: 1s;
    transition: 1s;
  
    opacity:0;
}
.ng-hide-remove-active {
   opacity:1;
}
